body
{
    margin:0px;
}
.fill-player-names
{
    display:none;
}
.main-window-div
{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image:url('src/images/back.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
}
.window-div-child
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background:white;
    height:60vh;
    width:60%;
    align-items:center;
    background:linear-gradient(to right,#e2d9dc 50%, white 50%);
    font-family: Georgia;
}
.score-chart
{
    display:flex;
    flex-direction:column;
    width:45%;
}
.players
{
   display:flex;
   justify-content:center;
}
.dice-main-div
{
    width:10%;
}
.dice-child
{
   display:flex;
   justify-content:center;
}
.main-score-chart-div
{
    display:flex;
    align-items:space-around;
    justify-content:space-evenly;
    width:100%;
}
.current-score-div
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.roll-dice-main-div
{
    display:flex;
    flex-direction:column;
    margin-bottom: 18px;
    justify-content:space-around;
}
.new-game
{
    padding: 25px;
    font-size: 25px;
}
.new-game-button
{
   background-color:lightskyblue;
   padding:6px;

}
.players
{
    font-size:45px;
    margin-bottom:20px;
}
.score-global
{
    font-size:20px;
    text-align:center;
}
.current-parent
{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    background:#ff00008f;
    margin-bottom: 18px;
    justify-content:space-around;
    height:4vh;
}
.dice-image
{
   height:60px;
   width:auto;
   box-shadow: 1px 6px 10px 2px rgba(0,0,0,0.2);
}
#roll-dice
{
   padding:12px;
   background:#656680;
   border:none;
   background-color: lightskyblue;
   box-shadow: 1px 6px 10px 2px rgba(0,0,0,0.3);
   margin-bottom: 5px;
} 
#hold
{
   padding:12px;
   background:#8c2740;
   border:none;
   background-color: lightskyblue;
   box-shadow: 1px 6px 10px 2px rgba(0,0,0,0.3);
   margin-bottom: 5px;
}
.form-fill
{
    position:fixed;
    background:rgba(0,0,0,0.9);
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.form-fill-child
{
    height:40vh; 
    font-size:24px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.form-fill >form > div>div> label >input
{
   padding:7px;
}
.submit-form-div
{
    margin-top:12px;
}
.rules-button
{
    position:absolute;
    top:10px;
    right:10px;
    padding:12px;
    background:#656680;
    border:none;
    background-color: lightskyblue;
    box-shadow: 1px 6px 10px 2px rgba(0,0,0,0.3);
    margin-bottom: 5px;
}
.games-rules
{
    position:fixed;
    display:none;
}
.rules-games-fixed
{
    display:flex;
    position: fixed;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.93);
    color:white;
    text-transform:uppercase;
    line-height:2em;
    font-family:arial;
}
.games-rules-close-button
{
    position:absolute;
    top: 2%;
    right: 2%;
    font-size: 30px;
    cursor:pointer;
}
@media only screen and (max-width:760px)
{
    .main-window-div
    {
        background-image:none;
    }
    .window-div-child
    {
        height:100vh;
        width:100%;
    }
    .rules-games-fixed> ul
    {
       font-size:12px;
       line-height:2em;
    }
    .form-fill >form > div>div> label >input
    {
        width:30vw;
    }
}
